* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    text-align: left;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    margin-bottom: 20px;
}

/* تنسيق الحقول */
.container input, .container select {
    padding: 8px;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    border: 1px rgb(226, 226, 226) solid;
    outline: none;
    border-radius: 3px;
    width: 100%;
}

/* تنسيق زر الإرسال */
input[type="submit"] {
    background-color: rgb(0, 202, 118);
    width: 180px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}


input[type="submit"]:hover {
    transition: 0.6s;
    background-color: rgb(0, 175, 102);
}

/* تنسيق الروابط */
#login {
    background-color: rgb(255, 45, 45);
    color: white;
    padding: 8px;
    border-radius: 3px;
    display: inline-block;
    margin-top: 10px;
}

#login:hover {
    transition: 0.6s;
    background-color: red;
}

/* تنسيق الحقول التي تحتوي على أخطاء */
#error {
    background-color: rgb(255, 175, 175);
    color: rgb(255, 0, 0);
    padding: 4px;
}

/* تنسيق زر الـ Admin */
input[type="button"] {
    background-color: rgb(0, 123, 255);
    width: 180px;
    font-size: 17px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

input[type="button"]:hover {
    transition: 0.6s;
    background-color: rgb(0, 105, 217);
}

